.footer {
  width: 100%;
  background: #101828;
  color: #cbd5e1;
  padding: 32px 20px;
  box-sizing: border-box;
  min-height: 277px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
}

.footer-container {
  max-width: 1101px;
  margin: 0 auto;
  display: flex;
  gap: 48px;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1 1 220px;
  min-width: 200px;
}

.footer-title {
  margin: 0 0 12px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  font-family: Inter;
  font-style: Semi Bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.31px;
}

.footer-discription {
  color: #99a1af;

  font-size: 14px;
  line-height: 1.6;
  margin: 0 0 8px;
  max-width: 420px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 235.25px;
  height: 104px;
  gap: 8px;
  opacity: 1;
}

.footer-section li {
  margin-bottom: 10px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 20px;
  letter-spacing: -0.15px;
}

.footer-section a {
  text-decoration: none;
  color: #9aa4b2;
  font-size: 14px;
}

.footer-section a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  padding-top: 18px;
  text-align: center;
  color: #99a1af;
  font-size: 14px;
  width: 100%;
}

.footer-bottom p {
  margin: 0 auto;
  width: 333px;
  font-family:
    Inter,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial;
  font-weight: 400;
}
@media (max-width: 700px) {
  .footer-container {
    gap: 24px;
  }
  .footer-section {
    flex: 1 1 100%;
  }
}
h2 {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: -0.44px;
  color: #ffffff;
}
