* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 15px 80px; */
  /* background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);  */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 1101px; */
  height: 80px;
  padding-right: 32px;
  padding-left: 32px;
  opacity: 1;
  box-shadow: 0px 1px 2px -1px #0000001a;

  box-shadow: 0px 1px 3px 0px #0000001a;
  background: #ffffff;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-links a {
  font-size: 16px;
  color: #333;
  cursor: pointer;
  text-decoration: none;
}

.Enroll-btn {
  background: #f97316;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  text-decoration: none;
}
.sign-in-btn {
  background: transparent;
  color: #f97316;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  list-style: none;
  text-decoration: none;
}

.logo-link {
  display: inline-flex;
  align-items: center;
}
.site-logo {
  height: 40px;
  width: auto;
  display: block;
}
